.col-4 {
  display: flex;
  justify-content: center;
}

.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal-body img {
    height: 300px;
    width: 500px;
    object-fit: cover;
    transition: 450ms;
}

.modal-body img:hover {
    height: 400px;
    width: 600px;
    object-fit: cover;
    object-position: top;
}

.modal-body {
    background-color: rgb(243, 243, 243);
}

img {
    height: 280px;
    width: auto;
    object-fit: cover;
    cursor: pointer;
  }
  
  .card {
    margin-top: 20px;
  }

 /* for the footer  */
  .footerArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #212529;
    color: #fff;
    position: relative;
    bottom: 0;
    height: 90px;
  }
  
  .footerArea p {
    text-transform: uppercase;
  }
  